@charset "UTF-8";

.calendar-container {
	padding: 37px 25px;
}

.left-calendar {
    display: flex;
    gap: 20px;
    transform: translate(368%, -17%);
    display: flex;
    align-items: center;
}


.left-content {
    position: absolute;
    z-index: 2;
}


.profile-section {
    text-align: center;
}

.profile-img {
    width: 100%;
    max-width: 63px;
    border-radius: 50%;
}

.prifile-name {
    border: 2px solid #80808070;
    padding: 6px 0px;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
}


.img-name {
    margin-left: 11px;
}
	


.buttons-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px; /* 원의 크기 */
    height: 63px; /* 원의 크기 */
    border-radius: 50%;
    background-color: #f0f0f0; /* 원의 배경색 */
    text-align: center;
    border: 1px solid #80808040;
    cursor: pointer;
}

.circle-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px; /* 글자 크기 */
    color: #333; /* 글자 색 */
    font-weight: 700;
    text-decoration: none; /* 링크 밑줄 제거 */
    z-index: 1;
}

.totalreview-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-1%, -25%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #ff0000d4;
    color: white;
    font-size: 13px;
    z-index: 2;
    letter-spacing: -1px;
}

.right-calendar {
   	margin-top: 0px;
   	position: relative;
   	z-index: 1;
}




#calendar {
    max-width: 710px; /* 원하는 너비로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.fc-event {
    position: relative !important;
    display: block !important;
    font-size: 1.3em !important;
    line-height: 1.9 !important;
    border-radius: 40px !important;
    border: 1px solid #e6d12b !important;
    text-align: center !important;
    background-color: #ffec5857 !important;
    width: 40px !important;
    /* height: 40px; */
    color: #534848 !important;
    font-weight: bold !important;
    margin: auto !important;
}

.fc-event:hover {
    cursor: pointer !important;
    background-color: #fbed73!important;
}


.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #b6adad !important; 
}

.fc-day-number {
    font-size: 0.7em !important; /* 셀 내부 텍스트 크기 조정 */
}

.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
    padding: 4px 4px 0px 0px !important;  /* 셀 안에서의 날짜들의 간격 */
}

.fc-day-header.fc-widget-header {
    padding: 7px 0px !important;  /* 월화수목금 헤더 */
    font-size: 10px !important;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: -1.1em !important;
}

.fc-header-toolbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0px 0px 0px 6px; !important;
}

.fc-left {
    /* flex: 1 !important; */
    font-size: 21px;
    letter-spacing: 2px;
}

.fc-right {
    display: flex !important;
    justify-content: flex-end !important;
    flex: 1 !important;
}

.fc button {
    font-size: 1.0em !important;
}

.fc-state-default {
    border: 1px solid !important;
    background-color: #f5f5f500!important;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e600)) !important;
    background-image: -webkit-linear-gradient(top, #fff0, #e6e6e600) !important;
    background-image: -o-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: linear-gradient(to bottom, #fff0, #e6e6e600) !important;
    background-repeat: repeat-x !important;
    border-color: #e6e6e600 #e6e6e600 #bfbfbf00! important;
    color: #333 ! important;
    text-shadow: none ! important;
    box-shadow: none ! important;
}

.fc-toolbar.fc-footer-toolbar {
    margin-top: 0.1em !important;
}