@charset "UTF-8";

.calendar-container {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 25px;
}

.left-calendar {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 45px;
    margin-right: 65px;
    padding: 37px 10px 37px;
    /* border: 1px solid #80808080; */
    width: 210px;
    height: 340px;
    border-radius: 40px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-img {
    width: 100%;
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.prifile-name {
    border: 2px solid #80808070;
    padding: 6px 0px;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
}

.buttons-section {
	/* margin-top: 35px; */
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.button-row div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    letter-spacing: 1px;
    background-color: #f0f0f09c;
    font-size: 30px;
    text-decoration: none;
    color: #5b5b5b;
    margin-bottom: 14px;
    border: 1px solid #8080803d;
}

.circle-btn span {
	/* font-size: 10px; */
	/* letter-spacing: -1px; */
	border: 2px solid #80808070;
	padding: 6px 18px;
	font-size: 11px;
	letter-spacing: 1px;
	border-radius: 16px;
	width: 100px;
	text-align: center;
	/* margin-top: 11px; */
}

.circle-btn a:hover, .circle-btn div:hover  {
	background-color: #ffec5857;
    transform: scale(1.04); /* 크기를 1.05배로 키움 */
    transition: transform 0.2s ease-in-out; /* 변환 효과에 0.3초 동안의 전환을 주고 부드럽게 만듦 */
}

.right-calendar {
    margin-left: 50px;
}

.left-content {
    margin-top: 75px;
}



#calendar {
    max-width: 450px; /* 원하는 너비로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.fc-event {
    position: relative !important;
    display: block !important;
    font-size: 0.8em !important;
    line-height: 2.3 !important;
    border-radius: 40px !important;
    border: 1px solid #e6d12b !important;
    text-align: center !important;
    background-color: #ffec5857 !important;
    width: 28px !important;
    color: #534848 !important;
    font-weight: bold !important;
    margin: auto !important;
}

.fc-event:hover {
    cursor: pointer !important;
    background-color: #fbed73!important;
}


.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #b6adad !important; 
}

.fc-day-number {
    font-size: 0.7em !important; /* 셀 내부 텍스트 크기 조정 */
}

.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
    padding: 4px 4px 0px 0px !important;  /* 셀 안에서의 날짜들의 간격 */
}

.fc-day-header.fc-widget-header {
    padding: 7px 0px !important;  /* 월화수목금 헤더 */
    font-size: 10px !important;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: -0.3em !important;
}

.fc-header-toolbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0px 0px 0px 6px; !important;
}

.fc-left {
    flex: 1 !important;
    font-size: 21px;
    letter-spacing: 3px;
}

.fc-right {
    display: flex !important;
    justify-content: flex-end !important;
    flex: 1 !important;
}

.fc button {
    font-size: 0.8em !important;
}

.fc-state-default {
    border: 1px solid !important;
    background-color: #f5f5f500!important;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e600)) !important;
    background-image: -webkit-linear-gradient(top, #fff0, #e6e6e600) !important;
    background-image: -o-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: linear-gradient(to bottom, #fff0, #e6e6e600) !important;
    background-repeat: repeat-x !important;
    border-color: #e6e6e600 #e6e6e600 #bfbfbf00! important;
    color: #333 ! important;
    text-shadow: none ! important;
    box-shadow: none ! important;
}