@charset "UTF-8";

.calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
}


.left-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.right-calendar {
    margin-left: 40px;
}

.profile-section {
    display: flex;
    align-items: center;
}

.profile-img {
    height: 94px;
    width: 94px;
    max-width: 100px;
    border-radius: 50%;
}


.profile-name {
    margin-bottom: 5px;
}

.prifile-name {
    border: 2px solid #80808070;
    padding: 6px 0px;
    font-size: 11px;
    letter-spacing: 1px;
    border-radius: 16px;
    width: 100px;
    text-align: center;
}

.profile-info {
    margin-left: 17px;
    text-align: left;
}



.profile-name span:nth-of-type(1) {
    font-size: 21px;
    font-weight: bold;
}

.profile-name span:nth-of-type(2) {
	color: #8080808c;  
	font-weight: 600;
}

.profile-text {  
	font-size: 13px;   
	margin: 3px 0;   
	color: gray;
}




.buttons-section {
	margin-top: 11px;
}

.button-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.button-row div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-name {
    margin-left: 11px;
}
	

.circle-btn a, .circle-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    background-color: #f0f0f09c;
    font-size: 16px;
    text-decoration: none;
    color: #5b5b5b;
    margin-bottom: 7px;
    border: 1px solid #8080803d;
    font-weight: 600;
}

.circle-btn span {
	font-size: 10px;
	letter-spacing: -1px;
}

.circle-btn a:hover, .circle-btn div:hover  {
	background-color: #ffec5857;
    transform: scale(1.04); /* 크기를 1.05배로 키움 */
    transition: transform 0.2s ease-in-out; /* 변환 효과에 0.3초 동안의 전환을 주고 부드럽게 만듦 */
}


.following-container {
    width: 245px;
    border: 1px solid #80808040;
    padding: 25px;
    margin-top: 27px;
    height: 220px;
    overflow: auto;
    border-radius: 9px;
}


.follwing-calendar {
    position: sticky;
    top: 0px;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 0 15px;
}

.follwing-calendar span {
	font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #808080a3;
}

.following-list-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #80808036;
    padding: 6px 0;
    justify-content: space-between;
}

.following-list {
    display: flex;
    align-items: center;
}

.following-img {
    width: 43px;
    margin-right: 10px;
}

.following-list-username {
    font-size: 12px;
    color: #383131;
    font-weight: 600;
}

.following-list-user-id {
    margin-left: 7px;
    font-size: 11px;
    color: #808080cf;
}


.following-list-btn button {
	background-color: #f6f6f6;
	border: 1px solid #c0bbbb;
	border-radius: 6px;
	cursor: pointer;
	font-size: 9px;
	letter-spacing: -1px;
	height: 18px;
	width: 54px;
}



#calendar {
    max-width: 603px; /* 원하는 너비로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.fc-event {
    position: relative !important;
    display: block !important;
    font-size: 1.3em !important;
    line-height: 1.9 !important;
    border-radius: 40px !important;
    border: 1px solid #e6d12b !important;
    text-align: center !important;
    background-color: #ffec5857 !important;
    width: 40px !important;
    color: #534848 !important;
    font-weight: bold !important;
    margin: auto !important;
}

.fc-event:hover {
    cursor: pointer !important;
    background-color: #fbed73!important;
}


.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #b6adad !important; 
}

.fc-day-number {
    font-size: 0.7em !important; /* 셀 내부 텍스트 크기 조정 */
}

.fc-basic-view .fc-day-number, .fc-basic-view .fc-week-number {
    padding: 4px 4px 0px 0px !important;  /* 셀 안에서의 날짜들의 간격 */
}

.fc-day-header.fc-widget-header {
    padding: 7px 0px !important;  /* 월화수목금 헤더 */
    font-size: 10px !important;
}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: -1.1em !important;
}

.fc-header-toolbar {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 0px 0px 0px 6px; !important;
}

.fc-left {
    /* flex: 1 !important; */
    font-size: 21px;
    letter-spacing: 2px;
}

.fc-right {
    display: flex !important;
    justify-content: flex-end !important;
    flex: 1 !important;
}

.fc button {
    font-size: 1.0em !important;
}

.fc-state-default {
    border: 1px solid !important;
    background-color: #f5f5f500!important;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e600)) !important;
    background-image: -webkit-linear-gradient(top, #fff0, #e6e6e600) !important;
    background-image: -o-linear-gradient(top, #fff, #e6e6e6) !important;
    background-image: linear-gradient(to bottom, #fff0, #e6e6e600) !important;
    background-repeat: repeat-x !important;
    border-color: #e6e6e600 #e6e6e600 #bfbfbf00! important;
    color: #333 ! important;
    text-shadow: none ! important;
    box-shadow: none ! important;
}

.fc-toolbar.fc-footer-toolbar {
    margin-top: 0.1em !important;
}