/* 모달의 스타일을 지정합니다 */
.follow-modal {
    display: none; /* 기본적으로 모달을 숨깁니다 */
    position: fixed; /* 모달을 화면에 고정 */
    z-index: 6; /* 모달을 최상위 레벨로 설정 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 화면을 차지하도록 설정 */
    height: 100%; /* 전체 화면을 차지하도록 설정 */
    overflow: auto; /* 모달 내 스크롤 허용 */
    background-color: rgb(0, 0, 0); /* 배경색을 검정으로 설정 */
    background-color: rgba(0, 0, 0, 0.4); /* 배경색을 반투명 검정으로 설정 */
}

/* 모달 컨텐츠 스타일 */
.follow-modal-content {
    background-color: #fefefe;
    margin: 11% auto;
    padding: 10px 19px 0px 26px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 505px;
    overflow: auto;
}

/* 모달 닫기 버튼 스타일 */
.follow-close {
    color: #aaa; /* 글자 색상을 회색으로 설정 */
    float: right; /* 오른쪽에 배치 */
    font-size: 28px; /* 글자 크기 설정 */
    font-weight: bold; /* 글자 두께 설정 */
}

.follow-close:hover, .follow-close:focus {
    color: black; /* 마우스를 올리거나 포커스 시 글자 색상을 검정으로 설정 */
    text-decoration: none; /* 텍스트 장식을 없앰 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
}

/* 탭 컨테이너의 스타일을 지정합니다 */
.tab-container {
    display: flex; /* 탭들을 가로로 배치합니다 */
    justify-content: space-around; /* 탭들 사이에 균등한 간격을 줍니다 */
    border-top: 2px solid #00000021;
    border-bottom: 2px solid #00000021; /* 탭 컨테이너의 하단에 회색 테두리를 추가합니다 */
}

.follow-header {
    display: flex;
    justify-content: end;
    margin-bottom: 9px;
}

/* 탭 버튼 스타일 */
.tab-button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    color: #232222;
    letter-spacing: -1px;
    font-weight: 600;
    position: relative; /* 밑줄 추가를 위한 상대 위치 지정 */
    display: flex; /* 탭 버튼을 플렉스 박스로 설정 */
    flex: 1; /* 각 탭 버튼이 동일한 비율로 공간을 차지하도록 설정 */
    justify-content: center; /* 탭 버튼 내에서 텍스트를 중앙 정렬 */
}

.tab-button.active::after {
    content: '';
    position: absolute;
    bottom: -2px; /* 밑줄의 위치 조정 */
    left: 0;
    width: 100%;
    height: 2px; /* 밑줄의 두께 */
    background-color: black; /* 밑줄 색상 */
}

/* 콘텐츠 컨테이너의 스타일을 지정합니다 */
.content-container {
}

/* 콘텐츠 섹션의 기본 스타일을 지정합니다 */
.content-section {
    display: none; /* 기본적으로 콘텐츠 섹션을 숨깁니다 */
}

/* 팔로워, 팔로잉, 유저 아이템의 스타일을 지정합니다 */
.follower-item, .following-item, .user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    margin: 0 12px;
    height: 47px;
    border-bottom: 1px solid #ded4d4;
}

/* 팔로워, 팔로잉, 유저 이름의 스타일을 지정합니다 */
.follower-name, .following-name, .user-name {
    flex: 1; /* 남은 공간을 모두 차지하게 합니다 */
}

/* 맞팔로우 및 팔로우 버튼의 스타일을 지정합니다 */
.mutual-follow-btn, .follow-btn {
}

/* 맞팔로우 및 팔로우 버튼에 마우스를 올렸을 때의 스타일을 지정합니다 */
.mutual-follow-btn:hover, .follow-btn:hover {
    background: #0056b3; /* 배경색을 더 진한 파란색으로 변경합니다 */
}

.user-item-img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.user-item-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-item-name {
    font-size: 13px;
    font-weight: 600;
    color: #484242;
}

.user-item-btn {
    background-color: #f6f6f6;
    border: 1px solid #c0bbbb;
    padding: 0px 9px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 9px;
    letter-spacing: -1px;
    height: 24px;
    width: 67px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}

input#followSearchContainer {
    border-radius: 10px;
    width: 300px !important;
    border: 2px solid #8080803b;
    font-size: 11px;
    height: 25px !important;
    padding: 0px 20px !important;
    color: #454141f7;
}

.content-section {
    position: relative;
    padding-top: 12px;
}

.follow-search-icon {
    position: absolute;
    left: 174px;
    top: 23px;
    width: 12px; /* 아이콘 크기 설정 */
    height: 12px; /* 아이콘 크기 설정 */
    pointer-events: none; /* 클릭 이벤트 방지 */
}

/* 추가: 빈 리스트 메시지 스타일 */
.empty-message {
    text-align: center; /* 가운데 정렬 */
    color: #00000087; /* 원하는 색상으로 변경 */
    font-size: 15px; /* 글자 크기 */
    margin-top: 70px; /* 위쪽 여백 */
}