@charset "UTF-8";

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 35px 28px 2px 30px;
    border: 1px solid #888;
    /* width: 30%; */
    width: 400px;
    height: 370px;
    overflow-y: overlay;
}

.modal-header {
	display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8080807a;
    margin-bottom: 30px;
}

.modal-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.modal-header-img {
    width: 125px;
    margin-left: 7px;
}

.close {
	font-size: 20px;
    font-weight: bold;
    margin-right: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.review-item {
	display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 13px 10px;
    margin-bottom: 20px;
}

.review-img {
    width: 55px;
    height: 55px;
    border-radius: 25px;
    margin-left: 8px;
}

.review-contents {
    width: 220px;
}

.review-title-rate {
	display: flex;
    align-items: center;
    justify-content: normal;
}

.review-title {
    font-size: 14px;
    font-weight: bold;
}

.review-rating {
	margin-left: 15px;
    font-size: 9px;
    color: gray;
    padding: 0px 4px;
    width: 18px;
    line-height: 15px;
    border-radius: 20px;
    border: 1px solid #e5e53a;
    background-color: #f9f98238;
    text-align: center;
    font-weight: bold;
}

.review-text {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
}
 
.review-edit-time {
	margin-right: -3px;
}

.review-time {
	font-size: 11px;
    color: #777;
    margin-right: 10px;
}

.button-group {
    display: flex;
    gap: 7px;
    margin-bottom: 8px;
}

.edit-btn, .delete-btn {
	background-color: #f5f5f5;
    border: 1px solid #c0bbbb;
    padding: 2px 4px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 9px;
    letter-spacing: -1px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #ddd;
}


#editModal .modal-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 40px 28px 37px;
    border: 1px solid #888;
    width: 400px; /* 고정 너비 */
    height: 370px; /* 고정 높이 */
}

.edit-modal-container {
background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px 25px 20px 30px;
    margin-bottom: 20px;
}

.edit-modal-title {
    font-size: 10px;
    border: 1px solid #8080805c;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    width: 55px;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    letter-spacing: 1px;
}

.edit-content-name {
	margin: 4px 13px 20px 4px;
    padding: 6px 5px;
    border-bottom: 1px solid gray;
    font-size: 12px;
}

.edit-modal-container input[type="number"] {
    width: 17%;
    padding: 5px 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 11px;
}


.edit-modal-container textarea {
    width: 88%;
    padding: 7px 15px 0px 15px;
    margin: 3px 15px 18px 0px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 11px;
    resize: none;
    height: 20px;
} 

.editmodal-btn {
    display: flex;
    justify-content: end;
    margin-right: 12px;
}

.editmodal-modify-btn:hover {
    background-color: #bdc0bd4f;
}

.editmodal-modify-btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #f5f5f5;
    border: 1px solid #c0bbbb;
    padding: 2px 9px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 9px;
    letter-spacing: -1px;
}