@charset "UTF-8";

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgb(0 0 0 / 40%); /* Black w/ opacity */
}

.modal-content {
	display: flex;
	flex-direction: column;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 35px 24px 23px 27px;
	border: 1px solid #888;
	width: 450px;
	height: auto;
	border-radius: 17px;
}

.modal-header {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-header-title {
    display: flex;
    align-items: end;
    justify-content: center;
    border-bottom: 1px solid #808080cf;
}

#close {
    font-size: 14px;
    border-radius: 20px;
    border: 1px solid #0a0606cc;
    padding: 1px 4px 3px 4px;
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
}

#close:hover {
    border: 3px dotted #0a0606cc;
}

.modal-header-title span {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 13px;
}

.modal-logo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.close {
	font-size: 20px;
    font-weight: bold;
    margin-right: 7px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.review-item {
	display: flex;
	align-items: center; 
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 14px 6px;
	margin: 0px 8px 20px 0px;
}

.review-img {
	width: 50px;
	height: 55px;
	border-radius: 9px;
	margin: 0 11px 0 10px;
}

.review-contents {
    margin-right: 14px;
    width: 270px;
}

.review-title-rate {
	display: flex;
    align-items: center;
    justify-content: normal;
}


.review-title a {
    text-decoration: none;
    color: #000000ba;
     font-size: 12px;
    font-weight: bold;
}

.review-rating {
    margin-left: 5px;
    font-size: 10px;
    color: gray;
    padding: 0px 6px;
    line-height: 17px;
    border-radius: 20px;
    border: 1px solid #e5e53a;
    background-color: #f9f98238;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.review-rating img {
	margin-right: 3px;
}

.review-count {
    margin-left: 2px;
    font-size: 9px;
    color: #141d12b8;
    padding: 0px 6px;
    line-height: 17px;
    border-radius: 20px;
    border: 1px solid #39390224;
    background-color: #ffff9d52;
    text-align: center;
    letter-spacing: 0px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.review-count img {
	width: 10px;
	margin-right: 3px;
}

.review-text {
    font-size: 11px;
    color: #777;
    margin-top: 5px;
}
 
.review-edit-time {
	margin-right: 6px;
	text-align: center;
}

.review-time {
	font-size: 11px;
	color: #b5abab;
}

.button-group {
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
    width: 61px;
}

.edit-btn, .delete-btn {
    background-color: #ffffffa6;
    border: 1px solid #c0bbbb;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 9px;
    letter-spacing: -1px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #ddd;
}







.edit-modal-content {
	background-color: #fefefe;
	padding: 30px 30px 37px;
	border: 1px solid #888;
	width: 440px;
	height: 380px;
	margin: 11% auto;
	border-radius: 15px;
}

.edit-modal-container {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 2px 0px 20px 0px;
	height: 250px;
}

.editmodal-header {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    margin: 19px 0px 25px;
    border-bottom: 1px solid #b1a9a9;
    font-weight: bold;
    padding-bottom: 2px;
}

.editmodal-header span {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: 13px;
}


.edit-modal-title {
    font-size: 10px;
    border: 1px solid #8080805c;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin-bottom: 5px;
    width: 67px;
    text-align: center;
    padding: 3px;
    border-radius: 20px;
    letter-spacing: 0px;
}

.edit_review_create_at {
    border: none;
    font-size: 12px;
    color: #4e4242b5;
    float: inline-end;
    letter-spacing: 1px;
    font-weight: 600;
}


.edit-content {
    margin: 20px 15px;
}

.edit-content-top {
    margin: 22px 21px;
}

.edit-content-name {
	margin: 0 11px 0 2px;
	padding: 6px 5px;
	border-bottom: 1px solid gray;
	font-size: 19px;
	font-weight: bold;
	letter-spacing: -1px;
}

.edit-modal-container input[type="number"] {
    width: 10%;
    padding: 3px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 11px;
}

.edit-modal-container textarea {
    width: 94%;
    padding: 7px 3px 6px 12px;
    border: none;
    border: 1px solid #80808052;
    border-radius: 6px;
    font-size: 11px;
    resize: none;
    height: 30px;
}

.editmodal-btn {
    display: flex;
    justify-content: center;
    margin: 19px;
    gap: 12px;
}

.editmodal-modify-btn:hover, 
.cancle-modify-btn:hover {
    background-color: #bdc0bd4f;
}

.editmodal-modify-btn, .cancle-modify-btn {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #fffffffa;
	border: 1px solid #c0bbbb;
	padding: 5px 40px;
	border-radius: 9px;
	cursor: pointer;
	letter-spacing: -1px;
	font-size: 11px;
}

