/* Container Styles */

body {
	margin: 8px 8px 100px;
}


.total-container {
    margin: 35px auto 21px;
    border: 1px solid #80808042;
    padding: 40px 8px;
    width: 1070px;
    height: auto;
    border-radius: 12px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    heignt: 495px;
}

/* Poster Styles */
.poster img {
    border-radius: 8px;
    width: 330px;
    height: 495px;
}


.rignt-total {
    display: flex;
    flex-direction: column;
    height: 495px;
    /* gap: inherit; */
    justify-content: space-between;
}


/* Details Styles */
.details {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    width: 680px;
    border-radius: 8px;
    border: 1px solid #8080803d;
}

.info-box {
	background-color: #f8f8f8;
    border-radius: 8px;
    padding: 0px 8px 0px;
}

.info-box div {
    padding: 25px 11px;
    font-size: 27px;
    font-weight: bold;
}

.info-box2 {
    display: flex;
    gap: 17px;
    margin-left: 17px;
    align-items: baseline;
}

.info-box2 span {
    font-size: 14px;
    font-weight: bold;
    color: #808080bf;
    letter-spacing: -1px;
}

.info-box2 p {
    font-size: 20px;
    font-weight: bold;
}

.info-box3 {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
    margin: 0 0 10px;
}


.info-box3 p {
    color: #7e7e7e;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: -1px;
    margin-left: 10px;
}

.info-box4 {
	display: flex;
	gap: 17px;
	align-items: baseline;
	margin: 16px 0px 21px 17px;
}


.info-box4 span {
    font-size: 14px;
    color: #808080bf;
    letter-spacing: -1px;
    font-weight: bold;
}


.info-box4 div {
    font-size: 16px;
    font-weight: bold;
}

/* Button Styles */
.button-container {
    text-align: end;
    margin-top: 20px;
}

.detail-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 22px 25px;
	border: 1px solid #888;
	width: 40%;
	max-width: 450px;
	border-radius: 10px;
}

.form-info {
	background-color: #f5f5f5;
	border-radius: 10px;
	padding: 20px 20px 0px 15px;
	height: 250px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.review-top {
    margin: 15px 0px 17px;
}

.title {
    display: flex;
    padding: 0px 0px 2px 7px;
    margin: 15px 0px 17px;
    align-items: end;
    justify-content: center;
    margin: 28px 0px 24px;
    border-bottom: 1px solid #808080cf;
}

.title span {
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-left: 13px;
}


.form-group {
	margin-bottom: 15px;
}

.form-group label {
	font-size: 10px;
	border: 1px solid #8080805c;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	margin-bottom: 5px;
	width: 67px;
	text-align: center;
	padding: 3px;
	border-radius: 20px;
	letter-spacing: 0px;
}

#review3 {
	border: none;
    font-size: 17px;
    font-weight: 600;
}

.form-group textarea {
	width: 100%;
	height: 100px;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 4px;
	height: 70px;
	padding: 14px 14px;
	resize: none;
	border: 1px solid #ddd;
}

.rating input {
	display: none;
}

.rating label {
	float: right;
	padding: 0px;
	font-size: 20px;
	color: #ddd;
	transition: all 0.3s;
	cursor: pointer;
}

.rating input:checked ~ label, .rating input:hover ~ label {
	color: #ffd700;
}

#btnOpenModal, #toggleSeasons {
	text-align: center;
	background-color: #f9f9f9fa;
	border: 1px solid #c0bbbbad;
	padding: 10px 38px;
	border-radius: 12px;
	cursor: pointer;
	letter-spacing: 0px;
	font-size: 13px;
	color: #211818;
	font-weight: bold;
	transition: background-color 0.3s;
	width: 190px;
}

#btnOpenModal span {
	margin-left: 5px;
}

.btn-save {
	text-align: center;
	text-decoration: none;
	display: inline-block;
	background-color: #fffffffa;
	border: 1px solid #c0bbbb;
	padding: 5px 40px;
	border-radius: 9px;
	cursor: pointer;
	letter-spacing: -1px;
	font-size: 11px;
}


.btn-save:hover, #btnOpenModal:hover {
	background-color: #d8d6cabd;
}


.container2 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px 10px; /* 줄인 패딩 */
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-wrap: wrap; /* 요소가 넘칠 경우 줄바꿈 */
	gap: 10px; /* 각 요소 사이의 간격 설정 */
}

.review-container {
	width: calc(32% - 20px); /* 한 줄에 3개씩 정렬 */
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-bottom: 10px;
}

.review-container p {
	margin: 0;
	line-height: 1.6;
}

.form-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px 10px;
    gap: 12px;
}



.season-container {
    margin: 35px auto 21px;
    border: 1px solid #80808042;
    padding: 40px 30px;
    width: 1030px;
    /* height: auto; */
    border-radius: 12px;
    background-color: #efefef70;
}

.season-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* padding: 0 17px; */
}

#seasonList {
    display: flex;
    padding: 9px 48px;
    margin: 0;
    gap: 86px;
    list-style-type: none;
}

.season-item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-right: 20px; /* 각 시즌 간의 간격을 조정 */
    /* width: 202px; */
}

.season-item img {
    width: 150px;
    height: 200px;
    max-height: 201px;
    margin-bottom: 10px;
}

.item span:nth-of-type(1) {
    font-size: 13px;
    color: #80808096;
    letter-spacing: -2px;
    margin-right: 5px;
}

.item span:nth-of-type(2) {
	font-size: 14px;
	letter-spacing: 0px;
}

