@charset "UTF-8";

.header-container {
    padding: 30px 0px 0px;
}

.header {
    display: flex;
    justify-content: space-between; /* 각 요소 사이의 공간을 균등하게 배분 */
    align-items: center;
    padding: 14px 0; /* 상하 패딩 설정 */
    margin: 0 16%; /* 좌우 여백 설정 */
}

.home-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 18px 0;
    margin: 0px 4%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 65px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.search-bar form {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.search-icon {
    position: absolute;
    left: 15px;
    width: 15px;  /* 아이콘 크기 설정 */
    height: 15px;  /* 아이콘 크기 설정 */
    pointer-events: none;  /* 클릭 이벤트 방지 */
}

.search-bar input[type="text"] {
    width: 250px;
    padding: 10px 8px 8px 40px;  /* 왼쪽 패딩을 아이콘 크기 + 패딩으로 설정 */
    border: 1px solid #ddd;
    border-radius: 35px;
    font-size: 11px;
    color: #493535;
}

.search-clear-btn {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.search-bar button:hover {
     font-weight: bold;
}

.auth-buttons {
    display: flex;
    align-items: center;
}

.auth-button {
    display: flex;
    flex-direction: column; /* 컬럼 방향으로 정렬 */
    align-items: center;
    margin-left: 20px; /* 각 버튼 간의 간격 설정 */
    cursor: pointer;
}

.auth-button img {
	width: 20px;
    margin-bottom: 5px; /* 이미지와 텍스트 간의 간격 설정 */
}

#auth-button-logout img{
    height: 21px;
}

.auth-button span {
	font-size: 9px;
    letter-spacing: -1px;
}

.auth-button div {
	font-size: 9px;
    letter-spacing: -2px;
}

.auth-button:hover {
    transform: scale(1.13); /* 크기를 배로 키움 */
    transition: transform 0.2s ease-in-out; /* 변환 효과에 0.3초 동안의 전환을 주고 부드럽게 만듦 */
}