
.reviewlist-main-container {
	width: 70%;
    margin: 100px auto 150px;
}

.review-title {
    display: flex;
    align-items: center;
    margin: 3px 19px;
}

.month-title {
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 11px;
    color: #000000ba;
}

.myreviewlist-logo {
    display: flex;
    align-items: center;
    margin: 60px 0px 35px;
}

.myreviewlist-logo-img {
    margin-right: 20px;
    width: 35px;
}

.myreviewlist-logo span {
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.review-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    border-top: 1px solid #b4a9a957;
    border-bottom: 1px solid #b4a9a957;
    border-radius: 10px;
}

.review-container {
    overflow: hidden;
    width: 80%;
    padding: 0px 8px;
}

.review-track {
    display: flex;
    transition: transform 0.3s ease;
    margin: 30px 0px;
}

.review-card {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 0px 10px 0px 10px;
}

.review-card img {
    width: 100%;
    height: 260px;
}

.review-info {
    margin-top: 13px;
}

.review-info-name {
    font-size: 13px;
    color: #0000008c;
    font-weight: bold;
}

.review-info-text {
	margin-top: 7px;
	font-size: 12px;
	color: #808080c9;
}

.review-in-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 13px;
    color: #808080cc;
}

.prev-slide,
.next-slide {
	background-color: #aaa;
	padding: 7px 13px 7px 13px;
	cursor: pointer;
	font-size: 18px;
	color: white;
	border-radius: 50px;
	border: 1px solid #80808000;
}

.prev-slide:disabled,
.next-slide:disabled {
    background-color: white;
    cursor: not-allowed;
}

