.mypage-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px; /* 이미지와 텍스트 사이의 간격 */
}

.profile-img-wrap {
    position: relative;
    display: inline-block;
}

.profile-img {
    width: 100px; /* 이미지 크기 확대 */
    height: 100px; /* 이미지 크기 확대 */
    border-radius: 50%;
}

.edit-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffa6;
    border: 1px solid #c0bbbb;
    padding: 4px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 12px; /* 폰트 크기 확대 */
    letter-spacing: -1px;
}

.profile-info .profile-text {
    font-size: 18px; /* 사용자 정보 글씨 크기 확대 */
    margin: 5px 0;
    text-align: left; /* 왼쪽 정렬 */
}

.buttons-section {
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: space-around;
}

.circle-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    text-align: center;
}

.circle-btn a, .circle-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f09c;
    font-size: 12px;
    text-decoration: none;
    color: #5b5b5b;
    margin-bottom: 7px;
    border: 1px solid #8080803d;
}

.circle-btn span {
    font-size: 10px;
    letter-spacing: -1px;
}

.circle-btn a:hover, .circle-btn div:hover {
    background-color: #ffec5857;
    transform: scale(1.04); /* 크기를 1.05배로 키움 */
    transition: transform 0.2s ease-in-out;
    /* 변환 효과에 0.3초 동안의 전환을 주고 부드럽게 만듦 */
}

.profile-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.w3-input {
    width: 96%;
    padding: 6px 10px; /* 패딩 감소 */
    margin-bottom: 8px;
    margin: 5px 0px;
    box-sizing: border-box;
    border-radius: 6px; /* 둥근 정도를 줄임 */
    border: 1px solid #d7cfcf;
}

.w3-button {
    width: 100%; /* 버튼 너비 조정 */
    background-color: #ebebeb87;
    border: 1px solid #c0bbbb;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px; /* 폰트 크기 확대 */
    letter-spacing: -1px;
}

.register-btn {
    background-color: #ffffffa6;
    border: 1px solid #c0bbbb;
    padding: 4px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 12px; /* 폰트 크기 확대 */
    letter-spacing: -1px;
    width: 63px;
}

#pwForm p>label, #deleteForm p>label {
    font-size: 12px;
    margin: 5px 0px 5px 3px;
    font-weight: 200;
    color: #808080c4;
}

/* 모달 스타일 */
.profileUpdateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.profileUpdateModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.profileUpdateModal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.profileUpdateModal-close:hover, .profileUpdateModal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}