.calendar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
}


.mypage-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.outer-div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    border: 1px solid #e9e9e91a;
    border-radius: 10px;
    padding: 45px;
    width: 87%;
    max-width: 700px;
    background-color: #b5b5b524;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-div {
    display: flex;
    flex-direction: column;
    gap: 22px;
    flex-grow: 1;
}

.profile-img-wrap {
    position: relative;
    display: inline-block;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.edit-btn {
    position: absolute;
    bottom: 1px;
    left: 80%;
    transform: translateX(-50%);
    background-color: #ffffffa6;
    border: 1px solid #c0bbbb;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 0px;
}

.username {
    font-size: 22px;
    margin: -5px 0;
    text-align: left;
    font-weight: bold;
}

.email {
    font-size: 18px;
    margin: 4px 0;
    text-align: left;
}

.user-id {
    font-size: 64px;
    font-weight: bold;
    margin: -19px;
    text-align: left;
    color: #969287;
}

.date-of-birth {
    font-size: 28px;
    margin: 20px;
    text-align: left;
}

.buttons-section {
    display: flex;
    gap: 63px;
    justify-content: flex-start;
}

.circle-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.circle-btn div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 80%;
    background-color: #f0f0f09c;
    font-size: 30px;
    text-decoration: none;
    color: #5b5b5b;
    margin-bottom: 7px;
    border: 1px solid #8080803d;
}

.circle-btn span {
    font-size: 12px;
    letter-spacing: -1px;
}

.circle-btn div:hover {
    background-color: #ffec5857;
    transform: scale(1.04);
    transition: transform 0.2s ease-in-out;
}

.profile-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.w3-input {
    width: 100%;
    padding: 8px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #d7cfcf;
}

.w3-button {
    width: 100%;
    background-color: #ebebeb87;
    border: 1px solid #c0bbbb;
    padding: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: -1px;
}

.register-btn {
    background-color: #ffffffa6;
    border: 1px solid #c0bbbb;
    padding: 4px;
    border-radius: 9px;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: -1px;
    width: 63px;
}

#pwForm p>label, #deleteForm p>label {
    font-size: 12px;
    margin: 5px 0px 5px 3px;
    font-weight: 200;
    color: #808080c4;
}

.profileUpdateModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.profileUpdateModal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.profileUpdateModal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.profileUpdateModal-close:hover, .profileUpdateModal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}