<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosa.dao.CalendarMapper"> <!-- 연결할 mapper 클래스 설정: com.kosa.dao.매퍼클래스명 -->

	<select id="getList" resultType="int">ㄴ
	    select count(*) from mandalart
	</select>


</mapper>
